<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="admin/common/layout/adminBase">

<div layout:fragment="adminContent">

	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">

			<div class="form-group">
				<div class="col-xs-15">
					<div th:if="${successMsg}"
						class="alert alert-success
					alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>Success!</strong> <span th:text="${successMsg}"></span>
					</div>
				</div>
			</div>

			<div style="border: 1px solid #849BC0; border-radius: 5px;"
				class="x_panel">
				<div class="x_title">
					<h2
						style="font-size: 19px; font-family: PoynterOSDisp; font-weight: bold;">Contact
						Information List</h2>
					<ul class="nav navbar-right panel_toolbox">
						<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
						</li>
					</ul>
					<div class="clearfix"></div>
				</div>
				<div class="x_content">


					<table style="width: 100%;" id="tbl_buyproduct"
						class="table table-striped table-bordered dataTable no-footer">
						<thead>
							<th>Name</th>
							<th>Email</th>
							<th>Subject</th>
							<th>Comment</th>
							<th>Status</th>
							<th>Date</th>
							<th>Action</th>
						</thead>
						<tbody>
							<tr th:each="contact : ${contactInfoList}">
								<td th:text="${contact.name}"></td>
								<td th:text="${contact.email}"></td>
								<td th:text="${contact.subject}"></td>
								<td th:text="${contact.comment}"></td>
								<td style="text-align: center;"><span
									style="color: white; background: black; padding: 2px; border-radius: 3px;"
									th:text="${contact.status =='1'} ? 'Message Pending' :'Message Send'"></span></td>
								<td th:text="${contact.date}"></td>
								<td class="rowBtn">
									<div class="col-xs-6 previous">
										<a class="btn btn-success btn-sm nominee-edit-btn"
											th:href="@{/admin/sendContactInfo(id=${contact.id})}"><i
											style="color: white;" class="fa fa-share"></i></a>
									</div>
									<div class="col-xs-6 next">
										<a class="btn btn-danger btn-sm nominee-delete-btn"
											th:href="@{/admin/deleteContact(id=${contact.id})}"
											onclick="if (!(confirm('Are you sure you want to delete this info?'))) return false"><i
											style="color: white;" class="fa fa-trash"></i></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="adminScript">
	<script>
		$(document).ready(function() {
			$('#tbl_buyproduct').DataTable();
		});
	</script>
</div>

<div layout:fragment="adminCss"></div>