
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="header/head :: common-header" />

<body>
	<!-- Icons Grid -->
	<section class="text-center">
		<div class="container">
			<div
				style="padding: 5px; background: #03528A; margin-top: 50px; border-radius: 5px; color: #FFFFFF; font-weight: bold;"
				class="hellow">
				<a th:href="@{/}">Access Denied!! Bad Request!!Back to home</a>
			</div>
		</div>
	</section>
	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
