<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/base">

<div layout:fragment="content">
	<br />
	<div class="breadcrumb-area mb-50">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="breadcrumb-container">
						<ul>
							<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
							<li class="active">Reset Password</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="page-content mb-50">
		<div class="container">
			<div class="row">
				<div class="col-md-9 offset-md-2">
					<form action="">
						<div style="border-top: 4px solid #80BB01; border-radius: 5px;"
							class="login-form">
							<h4 style="text-align: center;" class="login-title">Forgot
								Password</h4>
							<div class="row">
								<div class="col-md-12 col-12 mb-20">
									<label>Email Address*</label> <input class="mb-0" type="email"
										placeholder="Email Address" id="email">
								</div>
								<div class="col-md-12">
									<button type="button" id="btnForgotPass"
										class="register-button mt-0">Save</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div layout:fragment="script">
	<script>
		$(document).ready(function() {

			$("#btnForgotPass").click(function() {

				if ($('#email').val() != "") {

					var email = $('#email').val();

					var resetList = {};
					resetList.email = email;

					$.ajax({
						type : "POST",
						contentType : "application/json",
						url : "/customer/resetPassword",
						data : JSON.stringify(resetList),
						timeout : 100000,
						async : true,
						dataType : 'json',
						success : function(data) {
							if (data == '1') {
								alert("please check your email!!");
							}
						},
						error : function(xhr, status, error) {
							alert("Sorry,Something wrong!!");
						}
					});

				} else {
					alert("Please enter a valid email address!!");
				}
			});

			$('#email').keyup(function(event) {
				var getValidEmail = $('#email').val();
				loadGetAjax(getValidEmail);
			});

			function loadGetAjax(emailAddress) {

				$.ajax({
					type : "GET",
					url : "/customer/checkEmail",
					data : {
						emailAddress : emailAddress,
					},
					success : function(result) {
						if (result == true) {
							$("#btnForgotPass").prop('disabled', false);
						} else {
							$("#btnForgotPass").prop('disabled', true);
						}
					},
					error : function(xhr, status, error) {
						alert("Sorry,Something wrong!!");
					}
				});
			}

		});
	</script>

</div>

<div layout:fragment="css"></div>