<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>e-ASAAN Management System</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div th:replace="common/layout/header :: header"></div>

<style>
.well {
	width: 340px;
	height: 115px;
	margin-bottom: 30px;
}

.well h2 {
	font-weight: bold;
	color: #FFFFFF;
}

.well p {
	font-weight: bold;
	color: #FFFFFF;
}

.manadatory {
	color: red;
}

.errorMsg {
	color: red;
	margin-left: 0px;
}
</style>

</head>

<body>
	<header>
		<div
			class="header-top pt-10 pb-10 pt-lg-10 pb-lg-10 pt-md-10 pb-md-10">
			<div class="container">
				<div class="row">
					<div
						class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center text-sm-left">
						<div class="lang-currency-dropdown">
							<ul>
								<li>
									<p>Contact Us: 017557199--</p>
								</li>
							</ul>
						</div>
					</div>
					<div
						class="col-lg-6 col-md-6 col-sm-6 col-xs-12  text-center text-sm-right">
						<!-- header top menu -->
						<div class="lang-currency-dropdown">
							<ul>
								<li
									style="padding: 5px; display: none; background: #80BB01; border-radius: 8px; color: #FFFFFF; border: 2px solid #80BB01;"
									id="btnSell"><a th:href="@{/customer/customerPanel}">Sell
										Product</a></li>
								<li
									style="padding: 5px; display: none; background: #80BB01; border-radius: 8px; color: #FFFFFF; border: 2px solid #80BB01;"
									id="btnBuy"><a th:href="@{/customer/buyProuct}">Buy
										Product</a></li>
								<li
									style="padding: 5px; border: 2px solid #478019; border-radius: 7px;"
									sec:authorize="isAnonymous()"><a th:href="@{/login}">Log
										In</a></li>
								<li sec:authorize="hasRole('ROLE_USER')"><a href="#"><i
										style="font-size: 18px;" class="fa fa-user"></i> Me <i
										class="fa fa-chevron-down"></i></a>
									<ul>
										<li sec:authorize="isAuthenticated()"
											style="padding: 0px; margin: 0px;"><a
											th:href="@{/customer/profile}"></i>Profile</a></li>
										<li style="margin-top: 8px;" sec:authorize="isAuthenticated()"><a
											th:href="@{/logout}">Logout</a></li>
									</ul></li>
							</ul>
						</div>
						<!-- end of header top menu -->
					</div>
				</div>
			</div>
		</div>

		<div class="header-bottom header-bottom-one header-sticky">
			<div class="container">
				<div class="row">
					<div
						class="col-md-3 col-sm-12 col-xs-12 text-lg-left text-md-center text-sm-center">
						<!-- logo -->
						<div class="logo mt-15 mb-15">
							<a href="index.html"> <img src="/images/logo.png"
								class="img-fluid" alt="">
							</a>
						</div>
						<!-- end of logo -->
					</div>
					<div class="col-md-9 col-sm-12 col-xs-12">
						<div
							class="menubar-top d-flex justify-content-between align-items-center flex-sm-wrap flex-md-wrap flex-lg-nowrap mt-sm-15">
							<!-- header phone number -->
							<div class="header-contact d-flex">
								<div class="phone-icon">
									<img src="/images/icon-phone.png" class="img-fluid" alt="">
								</div>
								<div class="phone-number">
									Phone: <span class="number">1-888-123-456-89</span>
								</div>
							</div>
							<div class="shopping-cart" id="shopping-cart">
								<a sec:authorize="hasRole('ROLE_USER')"
									th:href="@{/customer/viewCart}">
									<div class="cart-info d-inline-block">
										<span><i class="fa fa-shopping-cart" aria-hidden="true">Cart</i>
											<span class="badge badge-danger" id="showCartItem"></span> </span>
									</div>
								</a>
							</div>
						</div>
						<div class="main-menu">
							<nav>
								<ul>
									<li><a href="/">HOME</a></li>
									<li><a th:href="@{/about}">ABOUT</a></li>
									<li><a th:href="@{/service}">SERVICE</a></li>
									<li><a th:href="@{/customer/contact}">CONTACT</a></li>
								</ul>
							</nav>
						</div>
						<!-- end of navigation section -->
					</div>
					<div class="col-12">
						<!-- Mobile Menu -->
						<div class="mobile-menu d-block d-lg-none"></div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="container">
			<div layout:fragment="content"></div>
		</div>
	</div>

	<footer>
		<div class="footer-navigation-section pt-40 pb-40">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
						<!--=======  single navigation section  =======-->

						<div class="single-navigation-section">
							<h3 class="nav-section-title">INFORMATION</h3>
							<ul>
								<li><a href="about-us.html">About Us</a></li>
								<li><a href="#">Delivery Information</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms & Condition</a></li>
							</ul>
						</div>

						<!--=======  End of single navigation section  =======-->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
						<!--=======  single navigation section  =======-->

						<div class="single-navigation-section">
							<h3 class="nav-section-title">MY ACCOUNT</h3>
							<ul>
								<li><a href="my-account.html">My Account</a></li>
								<li><a href="wishlist.html">Wishlist</a></li>
								<li><a href="cart.html">Shopping Cart</a></li>
								<li><a href="#">Newsletter</a></li>
							</ul>
						</div>

						<!--=======  End of single navigation section  =======-->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mb-xs-30">
						<!--=======  single navigation section  =======-->

						<div class="single-navigation-section">
							<h3 class="nav-section-title">CUSTOMER SERVICE</h3>
							<ul>
								<li><a href="contact.html">Contact</a></li>
								<li><a href="#">OUR SERVICE</a></li>
								<li><a href="#">RETURNS</a></li>
								<li><a href="#">SITE MAP</a></li>
							</ul>
						</div>

						<!--=======  End of single navigation section  =======-->
					</div>
					<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
						<!--=======  single navigation section  =======-->

						<div class="single-navigation-section">
							<h3 class="nav-section-title">Extras</h3>
							<ul>
								<li><a href="contact.html">BRANDS</a></li>
								<li><a href="#">GIFT VOUCHERS</a></li>
								<li><a href="#">AFFILIATES</a></li>
								<li><a href="#">SPECIALS</a></li>
							</ul>
						</div>

						<!--=======  End of single navigation section  =======-->
					</div>
				</div>
			</div>
		</div>

		<div class="copyright-section pt-35 pb-35">
			<div class="container">
				<div class="row align-items-md-center align-items-sm-center">
					<div
						class="col-lg-4 col-md-6 col-sm-12 col-xs-12 text-center text-md-left">
						<!--=======  copyright text	  =======-->

						<div class="copyright-segment">
							<p>
								<a href="#">Privacy Policy</a> <span class="separator">|</span>
								<a href="#">Term and conditions</a>
							</p>
							<p class="copyright-text">
								&copy; 2019 <a href="https://demo.hasthemes.com/">Greenfarm</a>.
								All Rights Reserved
							</p>
						</div>
					</div>
					<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
						<!--=======  payment info  =======-->

						<div class="payment-info text-center text-md-right">
							<p>
								Allow payment base on <img src="/images/payment-icon.png"
									class="img-fluid" alt="">
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<!-- scroll to top  -->
	<a href="#" class="scroll-top"></a>
	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/plugins.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/jquery-confirm.js"></script>
	<script src="/js/pnotify/dist/pnotify.js"></script>
	<script src="/js/pnotify/dist/pnotify.buttons.js"></script>
	<script src="/js/pnotify/dist/pnotify.nonblock.js"></script>

	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.jqueryui.min.js"></script>

	<script
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.20/js/dataTables.jqueryui.min.js"></script>

	<script src="/js/customer/buy-product.js"></script>

	<script>
		$(document).ready(function() {

			checkWhoLogin();

			function checkWhoLogin() {
				$.ajax({
					type : "GET",
					url : "/customer/checkCountry",
					success : function(result) {
						if (result == "Bangladesh") {
							$('#btnBuy').hide();
							$('#btnSell').show();
						} else if (result == "Dubai") {
							$('#btnBuy').show();
							$('#btnSell').hide();
						} else {
							$('#btnBuy').show();
							$('#btnSell').show();
						}
					},
					error : function(xhr, status, error) {
						alert("Sorry,Something wrong!!");
					}
				});

			}
		});
	</script>
	<div layout:fragment="script"></div>
</body>
</html>