<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<div th:fragment="header">
	<link rel="icon" href="/images/favicon.ico">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/elegent.min.css" rel="stylesheet">
	<link href="/css/plugins.css" rel="stylesheet">
	<link href="/css/helper.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<script src="/js/vendor/modernizr-2.8.3.min.js"></script>
	<link href="/js/pnotify/dist/pnotify.css" rel="stylesheet">
	<link href="/js/pnotify/dist/pnotify.buttons.css" rel="stylesheet">
	<link href="/js/pnotify/dist/pnotify.nonblock.css" rel="stylesheet">

	<link
		href="https://cdn.datatables.net/1.10.20/css/dataTables.jqueryui.min.css"
		rel="stylesheet">

	<div layout:fragment="css"></div>

</div>